.flip-card {
    perspective: 500px;
  }
  
  .card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
  }
  
  .flip-card:hover .card {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    left: 0;
    top: 0;
  }
  
  .card-back {
    background-color: white;
    height: 180px;
    width: 234px;
    transform: rotateY(180deg);
    border-radius: 20%;
    color: black;
    left: 54px;  
    vertical-align: middle;
  }